<template>
  <div id="edit">
    <div id="edit-area">
      <textarea id="edit-textarea" autofocus v-on:input="typing" :value="text"></textarea>
    </div>
    <div id="edit-preview">
      <!-- MD 미리보기 -->
      <div id="edit-preview-area">
      </div>
    </div>
  </div>
</template>

<script>
import fs from 'fs'
import path from 'path'
import md from 'marked'

export default {
  name: 'edit',
  data () {
    return {
      noteDir: '',
      noteName: '',
      text: ''
    }
  },
  created () {
    this.noteName = this.$store.state.app.note
    this.noteDir = path.join(this.settingDataPath = this.$electron.remote.app.getPath('userData'), '/notes')
    this.text = fs.readFileSync(path.join(this.noteDir, this.noteName), 'utf-8')
  },
  mounted () {
    this.textToMD()
    document.getElementById('edit-textarea').addEventListener('keydown', e => {
      if (e.keyCode === 13 && e.ctrlKey) {
        let preview = document.getElementById('edit-preview-area')
        preview.scrollTop = preview.scrollHeight
      } else if (e.keyCode === 83 && e.ctrlKey) {
        fs.writeFileSync(path.join(this.noteDir, this.noteName), this.text)
        console.log('save')
      }
    }, false)
  },
  methods: {
    typing (e) {
      this.text = e.target.value
      this.textToMD()
    },
    textToMD () {
      document.getElementById('edit-preview-area').innerHTML = md(this.text)
      for (let a of document.getElementsByTagName('a')) {
        a.onclick = e => {
          e.preventDefault()
          this.$electron.shell.openExternal(a.href)
        }
      }
    }
  }
}
</script>

<style>

#edit {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#edit-area {
  width: 50%;
  height: 100%;
}

#edit-area textarea {
  cursor: text;
  box-sizing: border-box;
  padding: 4px;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.3);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  font-size: 1rem;
}

#edit-preview {
  box-sizing: border-box;
  padding-left: 10px;
  width: 50%;
  height: 100%;
}

#edit-preview a {
  cursor: pointer;
  color: #0366d6;
  text-decoration: none;
}

#edit-preview-area {
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  padding: 0 10px;
  height: 100%;
}

code {
  display: inline-block;
  background-color: rgba(150, 150, 150, 0.3);
  color: #24292e;
  border-radius: 3px;
  padding: 2px 5px;
}

.language-bash {
  background-color: #f0f0f0;
  padding: 16px;
}

blockquote {
  padding: 0 16px;
  color: #6a737d;
  border-left: 3px solid #a7b3c0;
}

</style>
