<template>
  <div id="setting">
    <div id="setting-header">
      <h2>설정</h2>
    </div>
    <div id="setting-content">
      <div class="setting-item">
        <p>테마</p>
        <div class="setting-inner-item">
          <select class="setting-select" v-model="selectedColor">
            <option v-for="color in colorToList" :value="color.key" :key="color.key">
              {{ color.name }}
            </option>
          </select>
        </div>
        <div>
          <button class="setting-btn" @click="colorUpdate">적용</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import colorList from '../models/color.js'

export default {
  name: 'setting',
  data () {
    return {
      color: colorList,
      selectedColor: '' // 선택된 색상
    }
  },
  computed: {
    colorToList () {
      let colorList = []
      for (let k of Object.keys(this.color)) {
        colorList.push({key: k, name: this.color[k].name})
      }
      return colorList
    }
  },
  created () {
    console.log(this.$store.state.app.setting.color)
    this.selectedColor = this.$store.state.app.setting.color
  },
  methods: {
    colorUpdate () {
      this.$store.commit('SET_COLOR', this.selectedColor)
      this.$emit('update')
    }
  }
}
</script>

<style>

#setting-header {
  text-align: center;
}

#setting-content {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding-top: 10px;
}

.setting-item {
  padding: 10px 0;
}

.setting-inner-item {
  margin: 10px 0;
}

.setting-select {
  padding: 5px 10px;
  outline: none;
}

.setting-btn {
  cursor: pointer;
  padding: 5px 10px;
}

</style>
