<template>
  <div id="dialog-input">
    <div id="dialog-input-popup">
      <p>{{ message }}</p>
      <div id="dialog-input-area">
        <input type="text" maxlength="20" placeholder="노트 명" v-model="inputText">
      </div>
      <div id="dialog-input-button-area">
        <button class="dialog-btn yes-btn" @click="$emit('closeDialogInput', true, inputText)">확인</button>
        <button class="dialog-btn no-btn" @click="$emit('closeDialogInput', false)">취소</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notiz-dialog-input',
  props: ['message'],
  data () {
    return {
      inputText: '' // 입력된 문자열
    }
  }
}
</script>

<style>
#dialog-input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}

#dialog-input-popup {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#dialog-input-area {
  text-align: center;
  margin: 15px 0px;
}

#dialog-input-area input {
  cursor: text;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: .5s;
}

#dialog-input-area input:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#dialog-input-button-area {
  margin-top: 20px;
  text-align: center;
}

.dialog-btn {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: .2s;
}

.yes-btn {
  border: 1px solid #4caf50;
  color: #fff;
  background-color: #4caf50;
}

.yes-btn:hover {
  border: 1px solid #4caf50;
  color: #4caf50;
  background-color: #fff;
}

.no-btn {
  border: 1px solid #f44336;
  color: #fff;
  background-color: #f44336;
}

.no-btn:hover {
  color: #f44336;
  background-color: #fff;
}
</style>
