<template>
  <div id="dialog">
    <div id="dialog-popup">
      <p>{{ message }}</p>
      <div id="dialog-button-area">
        <button class="dialog-btn yes-btn" @click="$emit('closeDialog', true)">예</button>
        <button class="dialog-btn no-btn" @click="$emit('closeDialog', false)">아니오</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notiz-dialog',
  props: ['message']
}
</script>

<style>
#dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}

#dialog-popup {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#dialog-button-area {
  margin-top: 20px;
  text-align: center;
}

.dialog-btn {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: .2s;
}

.yes-btn {
  border: 1px solid #4caf50;
  color: #fff;
  background-color: #4caf50;
}

.yes-btn:hover {
  border: 1px solid #4caf50;
  color: #4caf50;
  background-color: #fff;
}

.no-btn {
  border: 1px solid #f44336;
  color: #fff;
  background-color: #f44336;
}

.no-btn:hover {
  color: #f44336;
  background-color: #fff;
}
</style>
