<template>
  <div id="list">
    <div id="note-none" v-if="noteList.length === 0">
      <p>노트가 존재하지 않습니다</p>
      <br>
      <p>새 노트를 작성해보세요!</p>
    </div>
    <div class="list-item" v-for="note in noteList" :key="note" @click="noteClick(note)">
      <div class="list-item-checkbox" v-if="checkMode">
        <label class="container">
          <input type="checkbox" :value="note" v-model="checkList">
          <span class="checkmark"></span>
        </label>
      </div>
      {{ rmExt(note) }}
    </div>
  </div>
</template>

<script>
import fs from 'fs'
import path from 'path'

export default {
  name: 'notiz-main',
  props: ['checkMode', 'update'],
  data () {
    return {
      userDataPath: '', // 유저 노트 데이터 경로
      noteList: [], // 불러온 노트 파일 리스트
      checkList: [] // 체크모드로 선택 된 노트 리스트
    }
  },
  watch: {
    // 체크모드 상태 감지 및 노트 삭제 진행
    checkMode (nv, ov) {
      if (ov) {
        this.rmNotes()
      }
    },
    // 노트 파일 리스트 갱신
    update () {
      this.updateList()
    }
  },
  created () {
    // 유저 데이터 경로 저장
    this.userDataPath = path.join(this.$electron.remote.app.getPath('userData'), '/notes')
    // 저장된 노트 데이터 갱신
    this.updateList()
  },
  methods: {
    /**
     * @description .md 파일 확장자를 제거
     * @param {string} file 파일 명
     */
    rmExt (file) {
      return file.replace('.md', '')
    },
    /**
     * @description 선택된 노트를 삭제하기 위해 대화창을 호출
     */
    rmNotes () {
      if (this.checkList.length) {
        this.$emit('openDialog', {message: `정말 ${this.checkList.length}개의 노트를 삭제하시겠습니까?`, type: 'delete', data: this.checkList})
      }
      this.checkList = []
    },
    /**
     * @description 저장된 노트 데이터 갱신
     */
    updateList () {
      if (fs.existsSync(this.userDataPath)) {
        // .md 파일인 경우만 필터링
        this.noteList = fs.readdirSync(this.userDataPath).filter(note => {
          return fs.statSync(path.join(this.userDataPath, note)).isFile() && (path.extname(note) === '.md')
        })
      } else {
        // 데이터가 없을 경우 빈 배열 리턴
        fs.mkdirSync(this.userDataPath)
        this.noteList = []
      }
    },
    /**
     * @description 노트 영역 클릭 이벤트
     * @param {string} name 클릭된 노트의 파일 명
     */
    noteClick (name) {
      // 체크모드 (삭제)가 활성화 되어있는 경우
      if (this.checkMode) {
        const idx = this.checkList.indexOf(name)
        // 노트가 선택 리스트에 없는 경우 추가
        if (idx === -1) {
          this.checkList.push(name)
        } else {
          // 존재하는 경우 삭제
          this.checkList.splice(idx, 1)
        }
      } else {
        this.$store.commit('SET_NOTE', name)
        this.$emit('edit')
      }
    }
  }
}
</script>

<style>
#note-none {
  color: #aaa;
  text-align: center;
}

#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-item {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  text-align: center;
  transition: .5s;
}

.list-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.list-item-checkbox {
  position: absolute;
  top: 7px;
  right: 0px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #f44336;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

</style>
