<template>
  <div id="header">
    <div id="header-top">
      <div id="header-title">{{ title }}</div>
    </div>
    <div id="header-bottom"></div>
  </div>
</template>

<script>
import colorList from '../models/color.js'

export default {
  name: 'notiz-header',
  data () {
    return {
      color: {}, // 테마 색상 데이터
      title: 'Notiz' // 상단 헤더 제목
    }
  },
  computed: {
    userColor () {
      return this.$store.state.app.setting.color
    }
  },
  watch: {
    userColor (v) {
      this.color = colorList[v] || colorList['green']
      this.updateHeaderColor()
    }
  },
  created () {
    const userColor = this.$store.state.app.setting.color
    this.color = colorList[userColor]
  },
  mounted () {
    this.updateHeaderColor()
  },
  methods: {
    /**
     * @description 상단 헤더 색상을 설정
     */
    updateHeaderColor () {
      const currentColor = this.color || colorList['green']
      document.getElementById('header-top').style['background-color'] = currentColor['darkprimary']
      document.getElementById('header-bottom').style['background-color'] = currentColor['primary']
    }
  }
}
</script>

<style>
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#header-top {
  height: 70px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  line-height: 70px;
  transition: .3s;
}

#header-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
}

#header-bottom {
  display: inline-block;
  height: 200px;
  width: 100%;
  transition: .3s;
}
</style>
