<template>
  <div id="app">
    <notiz-header></notiz-header>
    <div id="main">
      <router-view :checkMode="checkMode" :update="update" @update="appUpdate" @openDialog="openDialog" @edit="edit"></router-view>
    </div>
    <div id="menu-area" class="hidden">
      <ul v-if="menu === 'main'">
        <li @click="menuItemClick('new-note')">새 노트 작성</li>
        <li @click="menuItemClick('del-note')">노트 삭제</li>
        <li @click="menuItemClick('setting')">설정</li>
      </ul>
      <ul v-else-if="menu === 'setting'">
        <li @click="menuItemClick('main')">저장</li>
      </ul>
      <ul v-else-if="menu === 'edit'">
        <li @click="menuItemClick('save')">저장</li>
        <li @click="menuItemClick('quiz')">연습문제 생성</li>
        <li @click="menuItemClick('main')">메인</li>
      </ul>
    </div>
    <button id="open-menu-btn" @click="toggleMenu"></button>
    <transition name="fade" mode="out-in">
      <notiz-dialog :message="dialogMessage" @closeDialog="closeDialog" v-if="dialog"></notiz-dialog>
    </transition>
    <transition name="fade" mode="out-in">
      <notiz-dialog-input :message="dialogInputMessage" @closeDialogInput="closeDialogInput" v-if="dialogInput"></notiz-dialog-input>
    </transition>
  </div>
</template>

<script>
import fs from 'fs'
import path from 'path'

import color from './models/color.js'

const defaultSetting = {
  color: 'green'
}

export default {
  name: 'notiz',
  data () {
    return {
      settingDataPath: '', // 설정 파일 경로 (기본 데이터 파일 경로)
      menu: 'main', // 메뉴 유형
      open: false, // 메뉴 열기/닫기
      checkMode: false, // 파일 선택 모드(삭제)
      dialog: false, // 기본 대화창 보이기/숨기기
      dialogMessage: '', // 대화창 메시지
      dialogType: '', // 대화창 유형
      dialogData: {}, // 대화창 데이터
      dialogInput: false, // 입력 가능한 대화창 보이기/숨기기
      dialogInputMessage: '', // 입력 가능한 대화창 메시지
      dialogInputType: '', // 입력 가능한 대화창 유형
      update: false // 파일 리스트 업데이트 (상태 변화 시 자동 업데이트)
    }
  },
  components: {
    'notiz-header': require('./components/NotizHeader').default,
    'notiz-dialog': require('./components/NotizDialog').default,
    'notiz-dialog-input': require('./components/NotizDialogInput').default
  },
  created () {
    // 기본 데이터 경로 저장
    this.settingDataPath = this.$electron.remote.app.getPath('userData')

    // 설정파일이 존재할 경우
    if (fs.existsSync(path.join(this.settingDataPath, 'setting.dat'))) {
      // 파일 로드 후 JSON 타입으로 변환 및 저장
      const userData = JSON.parse(fs.readFileSync(path.join(this.settingDataPath, 'setting.dat')))
      // 설정 데이터 Vuex 상태 커밋
      this.$store.commit('SET_SETTING', userData)
    } else {
      // 파일이 없을 경우 기본 설정으로 파일 저장
      fs.writeFileSync(path.join(this.settingDataPath, 'setting.dat'), JSON.stringify(defaultSetting))
    }

    // notes 폴더가 없을 경우 새로 생성
    if (!fs.existsSync(path.join(this.settingDataPath, '/notes'))) {
      fs.mkdirSync(path.join(this.settingDataPath, '/notes'))
    }
  },
  mounted () {
    // 마운트 후 설정된 테마 색상으로 지정
    this.updateButtonColor()
  },
  methods: {
    /**
     * @description 설정에 저장된 테마 색상으로 + 버튼 색 지정
     */
    updateButtonColor () {
      document.getElementById('open-menu-btn').style['background-color'] = color[this.$store.state.app.setting.color || 'green']['accent']
    },
    /**
     * @description 메뉴 토글
     */
    toggleMenu () {
      let menu = document.getElementById('menu-area')
      let button = document.getElementById('open-menu-btn')

      // 체크 (삭제)모드일 경우 체크모드 해제 후 색상 원래대로 설정
      if (this.checkMode) {
        this.checkMode = false
        button.style['background'] = color[this.$store.state.app.setting.color || 'green']['accent']
        button.style['transform'] = 'rotate(0deg)'
        return
      }

      // 상태 토글
      this.open = !this.open

      // 상태에 따라 스타일 지정
      if (this.open) {
        menu.classList.remove('hidden')
        button.style['background'] = '#aaa'
        button.style['border-radius'] = '0px 50% 50% 50%'
        button.style['transform'] = 'rotate(45deg)'
      } else {
        menu.classList.add('hidden')
        button.style['background'] = color[this.$store.state.app.setting.color || 'green']['accent']
        button.style['border-radius'] = '50%'
        button.style['transform'] = 'rotate(0deg)'
      }
    },
    /**
     * @description 메뉴 항목 클릭 이벤트
     * @param {string} type 메뉴 아이템 유형
     */
    menuItemClick (type) {
      this.toggleMenu()
      switch (type) {
        case 'new-note': {
          this.openDialogInput({message: '노트명을 작성해주세요', type: 'create'})
          break
        }

        case 'del-note': {
          let button = document.getElementById('open-menu-btn')
          this.$store.commit('RESET_DEL_LIST')
          this.checkMode = true
          button.style['background'] = '#f44336'
          button.style['transform'] = 'rotate(45deg)'
          break
        }

        case 'setting': {
          this.$router.push({name: 'setting'})
          setTimeout(() => {
            this.menu = 'setting'
          }, 300)
          break
        }

        case 'main': {
          this.$router.push({name: 'main-list'})
          setTimeout(() => {
            this.menu = 'main'
          }, 300)
          fs.writeFileSync(path.join(this.settingDataPath, 'setting.dat'), JSON.stringify(this.$store.state.app.setting))
          break
        }
      }
    },
    /**
     * @description 기본 대화창 열기
     * @param {any} args 대화창 데이터
     */
    openDialog (args) {
      this.dialogMessage = args['message']
      this.dialogType = args['type']
      this.dialogData = args['data']
      this.dialog = true
    },
    /**
     * @description 기본 대화창 닫기
     * @param {boolean} result 대화창 결과 (예 / 아니오)
     */
    closeDialog (result) {
      this.dialog = false
      if (result) {
        console.log('Yes')
        if (this.dialogType === 'delete') {
          for (let note of this.dialogData) {
            fs.unlinkSync(path.join(this.settingDataPath, '/notes', note))
          }
          this.update = !this.update
        }
      } else {
        console.log('No')
      }
    },
    /**
     * @description 입력가능한 대화창 열기
     * @param {any} args 대화창 데이터
     */
    openDialogInput (args) {
      this.dialogInput = true
      this.dialogInputMessage = args['message']
      this.dialogInputType = args['type']
    },
    /**
     * @description 입력가능한 대화창 닫기
     * @param {boolean} result 대화창 결과 (예 / 아니오)
     * @param {string} text 대화창에 입력한 데이터
     */
    closeDialogInput (result, text) {
      this.dialogInput = false
      if (result) {
        if (this.dialogInputType === 'create' && text) {
          if (fs.existsSync(path.join(this.settingDataPath, '/notes', text + '.md'))) {
            this.openDialog({message: '이미 존재하는 노트명 입니다'})
          } else {
            fs.writeFileSync(path.join(this.settingDataPath, '/notes', text + '.md'))
            this.update = !this.update
          }
        }
      }
    },
    appUpdate () {
      this.updateButtonColor()
    },
    edit () {
      if (this.open) {
        this.open = false
        let menu = document.getElementById('menu-area')
        let button = document.getElementById('open-menu-btn')
        menu.classList.add('hidden')
        button.style['background'] = color[this.$store.state.app.setting.color || 'green']['accent']
        button.style['border-radius'] = '50%'
        button.style['transform'] = 'rotate(0deg)'
      }
      this.menu = 'edit'
      this.$router.push({name: 'edit'})
    }
  }
}
</script>

<style>
@font-face {
  font-family: "NanumSquareRound";
  src:url('./assets/fonts/NanumSquareRoundR.eot');
  src:url('./assets/fonts/NanumSquareRoundR.eot#iefix') format('embedded-opentype'),
  url('./assets/fonts/NanumSquareRoundR.woff') format('woff'),
  url('./assets/fonts/NanumSquareRoundR.ttf') format('truetype');
  src:local(¡Ø), url('./assets/fonts/NanumSquareRoundR.woff') format('woff');
}

* {
  cursor: default;
  user-select: none;
  font-family: 'NanumSquareRound';
}

html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#main {
  position: relative;
  top: 90px;
  height: calc(90% - 110px);
  width: 80%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  background-color: #fff;
  z-index: 1;
  padding: 25px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  opacity: 0.0;
}

::-webkit-scrollbar-thumb {
  background: #aaa; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}

#menu-area {
  position: absolute;
  bottom: 160px;
  right: 50px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all .3s;
  z-index: 1;
}

#menu-area ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu-area li {
  cursor: pointer;
  padding: 8px 16px;
}

#menu-area li:hover {
  background-color: #eee;
}

#open-menu-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all .3s;
}

#open-menu-btn:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#open-menu-btn::before {
  content: '+';
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
